.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-container03 {
  width: 100%;
  height: 995px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1542751371-adc38448a05e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGdhbWluZ3xlbnwwfHx8fDE2NTE5NzQ3MjY&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: 238px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: 238px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  width: 200px;
  height: 238px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-900);
}
.home-link {
  text-decoration: none;
}
.home-link1 {
  text-decoration: none;
}
.home-link2 {
  text-decoration: none;
}
.home-link3 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}
.home-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: 182px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text1 {
  color: var(--dl-color-gray-900);
}
.home-link4 {
  text-decoration: none;
}
.home-link5 {
  text-decoration: none;
}
.home-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: 168px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text2 {
  color: var(--dl-color-gray-900);
}
.home-link6 {
  text-decoration: none;
}
